@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-label {
    @apply block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2;
  }

  .input-text {
    @apply appearance-none block w-full bg-gray-200 text-gray-700 border border-slate-600 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white;
  }

  .input-checkbox {
    @apply w-4 h-4 text-red-600 bg-gray-100 rounded border-gray-300 focus:ring-slate-500 dark:focus:ring-slate-600 dark:ring-offset-slate-800 focus:ring-2 dark:bg-slate-600 dark:border-slate-700;
  }

  .add-button {
    @apply hover:bg-transparent bg-blue-500 hover:bg-blue-400 font-semibold text-white py-2 px-4 border-b-4 border-blue-700 active:border-b-0 active:mt-[4px] rounded transition-all h-11 active:h-10 duration-75;
  }

  .add-button-sm {
    @apply hover:bg-transparent bg-blue-500 hover:bg-blue-400 font-semibold text-white py-1 px-2 border-b-[3px] border-blue-700 active:border-b-0 active:mt-[3px] rounded text-sm transition-all h-8 active:h-7 duration-75;
  }

  .send-button {
    @apply hover:bg-transparent bg-green-600 hover:bg-green-500 font-semibold text-white py-2 px-4 border-b-4 border-green-800 active:border-b-0 active:mt-[4px] rounded transition-all h-11 active:h-10 duration-75 disabled:opacity-30 disabled:active:border-b-4 disabled:active:mt-0 disabled:active:h-11;
  }

  .delete-button {
    @apply hover:bg-transparent bg-red-600 hover:bg-red-500 font-semibold text-white py-2 px-4 border-b-4 border-red-800 active:border-b-0 active:mt-[4px] rounded transition-all h-11 active:h-10 duration-75;
  }

  .delete-button-sm {
    @apply hover:bg-transparent bg-red-600 hover:bg-red-500 font-semibold text-white py-1 px-2 border-b-[3px] border-red-800 active:border-b-0 active:mt-[3px] rounded transition-all text-sm h-8 active:h-7 duration-75;
  }

  .start-button {
    @apply inline-flex justify-center items-center gap-x-3 h-16 md:h-10 md:w-28 w-4/5 px-5 m-2 text-base text-white transition-all bg-green-600 rounded hover:bg-green-500 border-b-4 border-green-900 active:border-b-0 active:h-[60px] md:active:h-9 active:mt-3 duration-75;
  }

  .pause-button {
    @apply inline-flex justify-center items-center gap-x-3 h-16 md:h-10 md:w-28 w-4/5 px-5 m-2 text-base text-white transition-all bg-orange-500 rounded hover:bg-orange-600 border-b-4 border-orange-800 active:border-b-0 active:h-[60px] md:active:h-9 active:mt-3 duration-75;
  }

  .restart-button {
    @apply inline-flex justify-center items-center gap-x-3 h-16 md:h-10 md:w-28 w-4/5 px-5 m-2 text-base bg-gray-500 hover:bg-gray-400 border-b-4 border-gray-700 hover:border-gray-500 text-white text-center rounded active:border-b-0 active:h-[60px] md:active:h-9 active:mt-3 duration-75;
  }

  .primary-button {
    @apply inline-flex items-center justify-center gap-x-1 h-10 md:w-64 w-1/2 m-2 text-white transition-all duration-75 bg-blue-500 rounded hover:bg-blue-400 border-b-4 border-blue-700 active:border-b-0 active:h-9 active:mt-3;
  }
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.modal-overlay {
  z-index: 9998;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  z-index: 9998;
  display: block;
  background: white;
  padding: 1rem;
  border-radius: 1rem;
}
