@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-label {
    @apply block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2;
  }

  .input-text {
    @apply appearance-none block w-full bg-gray-200 text-gray-700 border border-slate-600 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white;
  }

  .input-checkbox {
    @apply w-4 h-4 text-red-600 bg-gray-100 rounded border-gray-300 focus:ring-slate-500 dark:focus:ring-slate-600 dark:ring-offset-slate-800 focus:ring-2 dark:bg-slate-600 dark:border-slate-700;
  }

  .add-button {
    @apply hover:bg-transparent bg-blue-500 hover:text-blue-700 font-semibold text-white py-2 px-4 border hover:border-blue-500 border-transparent rounded transition-colors;
  }

  .add-button-sm {
    @apply hover:bg-transparent bg-blue-500 hover:text-blue-700 font-semibold text-white py-1 px-2 border hover:border-blue-500 border-transparent rounded transition-colors text-sm;
  }

  .send-button {
    @apply hover:bg-transparent bg-green-600 hover:text-green-600 font-semibold text-white py-2 px-4 border border-green-700 hover:border-green-600 rounded transition-colors;
  }

  .delete-button {
    @apply hover:bg-transparent bg-red-600 hover:text-red-600 font-semibold text-white py-2 px-4 border border-red-700 hover:border-red-600 rounded transition-colors;
  }

  .delete-button-sm {
    @apply hover:bg-transparent bg-red-600 hover:text-red-600 font-semibold text-white py-1 px-2 border border-red-700 hover:border-red-600 rounded transition-colors text-sm;
  }
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.modal-overlay {
  z-index: 9998;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  z-index: 9998;
  display: block;
  background: white;
  padding: 1rem;
  border-radius: 1rem;
}

